<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search</title>
</head>
<body>
  <h1>Search</h1>

{% comment %} 우리 서버에서부터 어딘가로 보내주겠다 앞에 '/' {% endcomment %}
  <form action="/result/">
    category : <input type="text" name="category"><br/>
    keyword : <input type="text" name="query"><br/>
    <button type="submit">검색하기</button>
  </form>
  
</body>
</html>